:root {
  --fs-title: 3em;
  --fs-author: 2em;
  --fs-pages: 1em;
}

body,
.bookshelf {
  text-transform: capitalize;
  font-family: 'Gentium Book Basic', serif;
  line-height: 1.6;
  padding: 0;
  margin: 0;
}

form {
  
}

.bookshelf {
  background-color: black;
  display: flex;
  width: 90vw;
  height: 60vh;
  align-items: stretch;
  overflow: scroll;
}

.book {
  background-color: green;
  display: grid;
  grid-template-rows: 9fr 1fr;
  border: 1px solid black;
  
}

.vertical-container {
  writing-mode: vertical-rl;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.book-title {
  font-size: var(--fs-title);
  background-color: red;
}

.book-author {
  font-size: var(--fs-author);
  background-color: blue;
}

.book-pages {
  font-size: var(--fs-pages);
  writing-mode: horizontal-tb;
  text-align: center;
  background-color: white;
}