:root {
  --fs-h1: 3em;
  --fs-title: 2em;
  --fs-author: 1em;
  --fs-pages: 1em;
  --bg-color: #050252;
  --bg-font-color: white;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-image: url('bg.jpeg');
  background-color: black;
}

body,
.bookshelf {
  text-transform: capitalize;
  font-family: 'Gentium Book Basic', serif;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.bookshelf {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

.header {
  font-size: var(--fs-h1);
  height: 100%;
  width: 100%;
  text-align: center;
}

.header,
button {
  color: var(--bg-font-color);
  background-color: var(--bg-color);
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.add-book-button {
  margin: 3em;
}

button {
  padding: 1em;
  font-family: 'Gentium Book Basic', serif;
  border: none;
  outline: none;
  font-size: 1em;
  width: 100px;
}

button:hover {
  background-color: #4393de;
  cursor: pointer;
}

.form-container {
  visibility: hidden;
  position: absolute;
  background-color: white;
  width: 90vw;
  height: 60vh;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr 10fr;
  font-size: 1em;
}

.form-container.active {
  visibility: visible;
}

.close-form-button {
  justify-self: end;
  width: 10px;
  height: 5px;
  text-align: center;
}

form {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 50%;
}

.form-input {
  display: grid;
}

.bookshelf {
  background-color: black;
  background-image: url('bg-2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 90vw;
  height: 60vh;
  overflow: auto;
}

.book {
  display: grid;
  grid-template-rows: 20fr 1fr 1fr 1fr;
  border: 1px solid black;
  justify-items: center;
}

.vertical-container {
  writing-mode: vertical-rl;
  text-align: center;
  width: 100%;
}

.book-title {
  font-size: var(--fs-title);
  border-left: 1px solid black;
}

.book-author {
  font-size: var(--fs-author);
}

.book-pages,
.book-read {
  font-size: var(--fs-pages);
  text-align: center;
}

.book-read:hover {
  color: white;
  cursor: pointer;
}

.remove-button {
  margin: 1em;
}