:root {
  --fs-h1: 3em;
  --fs-title: 2em;
  --fs-author: 1em;
  --fs-pages: 1em;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

body,
.bookshelf {
  text-transform: capitalize;
  font-family: 'Gentium Book Basic', serif;
  line-height: normal;
  margin: 0;
  padding: 0;
}

.header {
  font-size: var(--fs-h1);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  text-align: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.add-book-button {
  margin: 3em;
}

form {
  visibility: hidden;
  width: 0px;
  height: 0px;
}

.bookshelf {
  background-color: black;
  display: flex;
  width: 90vw;
  height: 60vh;
  overflow: auto;
}

/* .book::before {
  content: '';
  background: repeating-linear-gradient(white, white 5%, black 5%, black 10%);
} */


.book {
  display: grid;
  grid-template-rows: 20fr 1fr 1fr;
  border: 1px solid black;
  flex: 0 0 auto;
  min-width: max-content;
  max-width: max-content;
}

.vertical-container {
  writing-mode: vertical-rl;
  text-align: center;
}

.book-title {
  font-size: var(--fs-title);
  border-left: 1px solid black;
}

.book-author {
  font-size: var(--fs-author);
}

.book-pages {
  font-size: var(--fs-pages);
  text-align: center;
  background-color: white;
}